.borda-info-consulta{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #F3F3F3;
    height: 70vh;
    width: 65vw;
}

.content-info-consulta{
    margin: 30px;
}

.margin-itens-info-consulta{
    margin: 30px;
}

.button-delete-consulta input{
    margin-left: 100%;
    background-color: #E90000;
    opacity: 0.8;
    border: none;
    font-weight: lighter;
    color: #ffff;
    font-size: 1rem;
    border-radius: 7px;
    padding: 10px;
    outline: 0;
}

.button-delete-consulta input:hover{
    cursor: pointer;
    background-color: #E90000;
    opacity: 1;
    border: none;
    color: #ffff;
    font-size: 1rem;
}