.username-home{
    display: flex;
}

.username-top{
    margin: 0;
    margin-right: 5px;
    padding: 0;
    font-size: 1.1rem;
    font-style: italic;
    margin-top: 3px;
    margin-left: 800px;
}

.username-home img{
    margin-top: 5px;
}